.form__inner {
	width:     100%;
	max-width: 360px;
}

.cart__form {
	width:         100%;
	max-width:     360px;
	font-weight:   300;
	font-size:     $fs_main;
	line-height:   16px;
	margin-bottom: 56px;

	&_wrapper {
		@include flex-column;
		gap: 20px;
	}

	&_title {
		font-size:      $fs_title;
		font-weight:    300;
		line-height:    19px;
		text-transform: uppercase;
		margin-bottom:  20px;

	}

	&_input {
		height:  45px;
		padding: 16px;
		border:  1px solid #a4a4a4;

		&:active {
			border-color: $accent_color;
			/*box-shadow: 1px 1px 1px 0 $accent_color;*/
		}

		&:focus {
			border-color: $accent_color;
			/*box-shadow: 1px 1px 1px 0 $accent_color;*/
			outline:      none;
		}
	}

	&_btn {
		align-self:       flex-start;
		font-size:        11px;
		background-color: transparent;
		border-color:     $title_color;
		color:            $title_color;
		text-transform:   uppercase;

		transition:       background-color 0.3s linear,
											color 0.3s linear,
											border-color 0.3s linear;

		&:hover {
			background-color: $accent-color;
			border-color:     $accent-color;
			color:            #fff;
		}
	}
}
  
