//--------------.features-------------------
.features {
	height: 100%;
	min-height: 34.2rem;
	padding: 10.4rem 0;
	background-color: $bg_color_dark;

	&__list {
		@include flex-sb;
		gap: 3rem;

		@include mobile {
			@include flex-column;
		}
	}

	&__item {
		@include flex-column-center;

		&_icon {
			max-width: 100%;
			margin-bottom: 2.8rem;
		}

		&_title {
			font-size: 2rem;
			font-weight: 400;
			margin-bottom: 1.6rem;
			color: $bg_color_card;
		}

		&_text {
			font-size: $fs-main;
			font-weight: 300;
			line-height: 1.7rem;
			text-align: center;
			color: $bg-color_card;
		}
	}
}
