.footer__social {
	background-color: $bg-color_dark;

	&_wrapper {
		@include flex-sb;
		padding: 2.4rem 0;

		@include mobile {
			@include flex-column;
			gap: 4rem;
		}
	}

	&_rights {
		color: $bg_color_card;

		@include mobile {
			order: 1;
		}
	}

	&_list {
		@include flex-sb;
		gap: .8rem;

	}

	&_item {
		@include flex-center;
		width: 3.2rem;
		height: 3.2rem;
		transition: background-color 0.3s ease-in;

		background-color: #fff;
	}
}

.footer__social_item:hover {

	background-color: $accent_color;

}


.footer__social_link {
	padding: 4px;
	text-align: center;
}

.footer__social_icon {
	transition: fill 0.3s ease-in;
	fill: $title_color;
}

.footer__social_link:hover > .footer__social_icon:hover {
	fill: #fff;
}