//-----------header__button---------------

.header__btn {
	position: relative;
	width: 3.2rem;
	height: 3.2rem;
	cursor: pointer;
	border: none;
	background-color: transparent;

	&::after {
		position: absolute;
		bottom: -0.6rem;
		left: 0;
		display: none;
		width: 3.2rem;
		height: 0.2rem;
		content: "";
		background-color: $accent_color;
	}

	&:hover::after {
		display: block;
	}

	&:active {
		outline: none;
	}
}

.line {
	position: absolute;
	top: 0;
	left: 0.2rem;
	width: 2.8rem;
	height: 0.2rem;
	background-color: #fff;

	&.line--1 {

		top: 0.5rem;
		bottom: 1.5rem;
	}

	&.line--2 {
		top: 1.5rem;
		bottom: 1rem;
	}

	&.line--3 {
		top: 2.5rem;
		bottom: 0;
	}
}