// Первая секция на дополнительных страницах
@mixin pages-section{
  background-color: $bg_color_light;
  height: 100%;
  min-height: 148px;
  padding: 58px 0 0 0;
}
// Заголовки на дополнительных страницах
@mixin pages-title{
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  color: $accent-color;
  margin-bottom: 58px;
}