//------------------promo-----------------------------
.promo {
  margin: 0 auto 94px auto;

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__item {
    position: relative;
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 360px;
    min-height: 230px;
    z-index: 1;

    &_woman {
      background: url("../../img/for_women.jpg") center / cover no-repeat;
    }

    &_man {
      background: url("../../img/for_men.jpg") center / cover no-repeat;
    }

    &_kids {
      background: url("../../img/for_kids.jpg") center / cover no-repeat;
    }

    &_accessories {
      background: url("../../img/accsesories.jpg") center / cover no-repeat;
      max-width: 1140px;
    }

    &_title {
      font-size: $fs-title;
      text-align: center;
      color: #fff;
      z-index: 3;
      text-transform: uppercase;
    }

    &_sub {
      font-size: 1.5rem;
      color: $accent-color;
      text-align: center;
      z-index: 3;
      text-transform: uppercase;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(33, 22, 22, 0.7);
      z-index: 2;

      transition: background-color 0.5s linear;
    }

    &:hover::before {
      background-color: rgba(33, 22, 22, 0);
    }
  }
}
