
//---------------header-----------
.header__main {
  background-color: $bg_color_dark;
  position: relative;
  padding: 18px 0;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &_icon {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

//-----------header__button---------------

.header__btn {
  background-color: transparent;
  border: none;
  position: relative;
  width: 32px;
  height: 32px;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 32px;
    height: 2px;
    background-color: $accent_color;
    display: none;
  }

  &:hover::after {
    display: block;
  }

  &:active {
    outline: none;
  }
}

.line {
  position: absolute;
  top: 0;
  left: 2px;
  background-color: #fff;
  width: 28px;
  height: 2px;

  &.line--1 {

    top: 5px;
    bottom: 15px;
  }

  &.line--2 {
    top: 15px;
    bottom: 10px;
  }

  &.line--3 {
    top: 25px;
    bottom: 0;
  }
}

//-------header__link-----------

.header__link {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 32px;
    height: 2px;
    background-color: $accent_color;
    display: none;
  }

  &:hover::after {
    display: block;
  }
}

// -----------------menu---------------

.menu {
  background-color: #fff;
  padding: 38px 34px;
  height: 100%;
  min-height: 764px;
  width: 100%;
  max-width: 232px;
  position: absolute;
  top: 75px;
  right: -250px;

  transition: right 0.4s linear;

  &.active {
    right: 0;
  }
}

.nav__title {
  font-size: $fs-main;
  color: $title_color;
  text-transform: uppercase;
  margin-bottom: 15px;

  &--accent {
    color: $accent_color;
    text-transform: uppercase;
    font-size: $fs-main;

    &:hover {
      color: $title_color;
    }
  }
}

.nav__list_item {
  margin: 0 0 12px 24px;

  > li {
    margin-bottom: 11px;
  }

  > li:first-child {
    margin-top: 11px;
  }
}

.nav__link {
  @extend %n_link_txt;

  &:hover {
    color: $accent_color;
  }
}
