
html {
	font-size: 62.5%;
}

@media (max-width: 900px) {
	html {
		font-size: 52.5%;
	}
}

body {
	font-family: "Lato", sans-serif, "Roboto", sans-serif;
	font-size: 1.6rem;
	overflow-x: hidden;
}

.image {
	display: inline-block;
	width: 100%;
	height: auto;
	vertical-align: middle;

}


.visually--hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.container {
	max-width: $container-width;
	margin: 0 auto;
	padding: 0 $container-offset;
}


