
%card_text {
  font-weight: 300;
  font-size: $fs_main;
  color: $card_txt_color;
  line-height: 1.06rem;
  margin-bottom: 18px;
}

%n_link_txt {
  font-weight: 400;
  font-size: $fs_main;
  line-height: 1.06rem;
  color: $nav_link_color;
}

%card_price {
  font-size: $fs-main;
  color: $accent-color;
  text-transform: uppercase;
}

