
%card_text {
	font-size: $fs_main;
	font-weight: 300;
	line-height: 1.6rem;
	margin-bottom: 1.8rem;
	color: $card_txt_color;
}

%n_link_txt {
	font-size: $fs_main;
	font-weight: 400;
	line-height: 1.6rem;
	color: $nav_link_color;
}

%card_price {
	font-size: $fs-main;
	text-transform: uppercase;
	color: $accent-color;
}

